/* 背景容器 */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
}

/* 添加遮罩层提升文字可读性，从上到下透明度线性变化 */
.background-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.8));
}

/* 调整内容层级 */
.md-main {
    position: relative;
    z-index: 1;
}


/* 覆盖原有的两个 CSS 来取消目录处的白色 */
@media screen and (min-width: 60em) {
    .md-nav--secondary .md-nav__title {
        background: none;
        box-shadow: none;
    }
}

@media screen and (min-width: 76.25em) {
    .md-nav--primary .md-nav__title {
        background: none;
        box-shadow: none;
    }
}